<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Lizard-00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 5}, {128, 97}}</string>
			<key>spriteOffset</key>
			<string>{8, 1}</string>
			<key>spriteSize</key>
			<string>{128, 97}</string>
			<key>spriteSourceSize</key>
			<string>{156, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 99}, {128, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lizard-01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 5}, {114, 89}}</string>
			<key>spriteOffset</key>
			<string>{15, 5}</string>
			<key>spriteSize</key>
			<string>{114, 89}</string>
			<key>spriteSourceSize</key>
			<string>{156, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 99}, {114, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lizard-02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {144, 97}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{144, 97}</string>
			<key>spriteSourceSize</key>
			<string>{156, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {144, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>p4-liz-walk</string>
		<key>textureFileName</key>
		<string>p4-liz-walk.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>