<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol 20000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20001</key>
			<dict>
				<key>frame</key>
				<string>{{933,2},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20002</key>
			<dict>
				<key>frame</key>
				<string>{{1864,2},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20003</key>
			<dict>
				<key>frame</key>
				<string>{{2795,2},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20004</key>
			<dict>
				<key>frame</key>
				<string>{{2,557},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20005</key>
			<dict>
				<key>frame</key>
				<string>{{933,557},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20006</key>
			<dict>
				<key>frame</key>
				<string>{{1864,557},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20007</key>
			<dict>
				<key>frame</key>
				<string>{{2795,557},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20008</key>
			<dict>
				<key>frame</key>
				<string>{{2,1112},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20009</key>
			<dict>
				<key>frame</key>
				<string>{{933,1112},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20010</key>
			<dict>
				<key>frame</key>
				<string>{{1864,1112},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20011</key>
			<dict>
				<key>frame</key>
				<string>{{2795,1112},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20012</key>
			<dict>
				<key>frame</key>
				<string>{{2,1667},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20013</key>
			<dict>
				<key>frame</key>
				<string>{{933,1667},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20014</key>
			<dict>
				<key>frame</key>
				<string>{{1864,1667},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20015</key>
			<dict>
				<key>frame</key>
				<string>{{2795,1667},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20016</key>
			<dict>
				<key>frame</key>
				<string>{{2,2222},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20017</key>
			<dict>
				<key>frame</key>
				<string>{{933,2222},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20018</key>
			<dict>
				<key>frame</key>
				<string>{{1864,2222},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20019</key>
			<dict>
				<key>frame</key>
				<string>{{2795,2222},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20020</key>
			<dict>
				<key>frame</key>
				<string>{{2,2777},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20021</key>
			<dict>
				<key>frame</key>
				<string>{{933,2777},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20022</key>
			<dict>
				<key>frame</key>
				<string>{{1864,2777},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20023</key>
			<dict>
				<key>frame</key>
				<string>{{2795,2777},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
			<key>Symbol 20024</key>
			<dict>
				<key>frame</key>
				<string>{{2,3332},{929,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{929,553}}</string>
				<key>sourceSize</key>
				<string>{929,553}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>lillly1.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>lillly1.png</string>
		</dict>
	</dict>
</plist>
