<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Symbol 10000</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{929,553},{0,0}}</string>
			<key>spriteOffset</key>
			<string>{52,147}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{0,0}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2,2},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10001</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{869,445},{60,108}}</string>
			<key>spriteOffset</key>
			<string>{-128,-43}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{60,108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4,2},{60,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10002</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{801,450},{128,103}}</string>
			<key>spriteOffset</key>
			<string>{-189,-29}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{128,103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66,2},{128,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10003</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{879,446},{50,107}}</string>
			<key>spriteOffset</key>
			<string>{-320,-3}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{50,107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196,2},{50,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10004</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{837,442},{92,111}}</string>
			<key>spriteOffset</key>
			<string>{-369,-1}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{92,111}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248,2},{92,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10005</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{876,447},{53,106}}</string>
			<key>spriteOffset</key>
			<string>{-467,0}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{53,106}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342,2},{53,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10006</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{859,451},{70,102}}</string>
			<key>spriteOffset</key>
			<string>{-522,-8}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{70,102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397,2},{70,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10007</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{849,450},{80,103}}</string>
			<key>spriteOffset</key>
			<string>{-592,-18}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{80,103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2,115},{80,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10008</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{837,437},{92,116}}</string>
			<key>spriteOffset</key>
			<string>{-672,-31}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{92,116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84,115},{92,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10009</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{833,440},{96,113}}</string>
			<key>spriteOffset</key>
			<string>{-764,-76}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{96,113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178,115},{96,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10010</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{798,430},{131,123}}</string>
			<key>spriteOffset</key>
			<string>{-798,-189}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{131,123}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276,115},{131,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10011</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{870,432},{59,121}}</string>
			<key>spriteOffset</key>
			<string>{-851,-312}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{59,121}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409,115},{59,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10012</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{836,428},{93,125}}</string>
			<key>spriteOffset</key>
			<string>{-756,-404}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{93,125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2,240},{93,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10013</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{818,423},{111,130}}</string>
			<key>spriteOffset</key>
			<string>{-647,-412}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{111,130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97,240},{111,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10014</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{881,418},{48,135}}</string>
			<key>spriteOffset</key>
			<string>{-600,-414}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{48,135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210,240},{48,135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10015</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{848,417},{81,136}}</string>
			<key>spriteOffset</key>
			<string>{-511,-417}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{81,136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260,240},{81,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10016</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{853,409},{76,144}}</string>
			<key>spriteOffset</key>
			<string>{-435,-405}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{76,144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{343,240},{76,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10017</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{878,416},{51,137}}</string>
			<key>spriteOffset</key>
			<string>{-384,-413}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{51,137}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{421,240},{51,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10018</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{871,411},{58,142}}</string>
			<key>spriteOffset</key>
			<string>{-325,-407}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{58,142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2,386},{58,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10019</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{880,412},{49,141}}</string>
			<key>spriteOffset</key>
			<string>{-275,-408}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{49,141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62,386},{49,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10020</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{875,422},{54,131}}</string>
			<key>spriteOffset</key>
			<string>{-216,-407}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{54,131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{113,386},{54,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10021</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{862,428},{67,125}}</string>
			<key>spriteOffset</key>
			<string>{-149,-382}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{67,125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{169,386},{67,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10022</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{859,429},{70,124}}</string>
			<key>spriteOffset</key>
			<string>{-77,-333}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{70,124}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238,386},{70,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10023</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{886,445},{43,108}}</string>
			<key>spriteOffset</key>
			<string>{-27,-282}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{43,108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310,386},{43,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10024</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{776,440},{153,113}}</string>
			<key>spriteOffset</key>
			<string>{0,-167}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{153,113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2,530},{153,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Symbol 10025</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{841,459},{88,94}}</string>
			<key>spriteOffset</key>
			<string>{-39,-87}</string>
			<key>spriteSize</key>
			<string>{929,553}</string>
			<key>spriteSourceSize</key>
			<string>{88,94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157,530},{88,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{495,634}</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>lilllyMovie clip.png</string>
			<key>textureFileName</key>
			<string>lilllyMovie clip</string>
			<key>textureFileExtension</key>
			<string>png</string>
			<key>premultipliedAlpha</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
