<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Layer-01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 107}}</string>
			<key>spriteOffset</key>
			<string>{200, 100}</string>
			<key>spriteSize</key>
			<string>{59, 107}</string>
			<key>spriteSourceSize</key>
			<string>{59, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{68, 395}, {59, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 102}}</string>
			<key>spriteOffset</key>
			<string>{180, 80}</string>
			<key>spriteSize</key>
			<string>{127, 102}</string>
			<key>spriteSourceSize</key>
			<string>{127, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 0}, {127, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 106}}</string>
			<key>spriteOffset</key>
			<string>{160, 60}</string>
			<key>spriteSize</key>
			<string>{49, 106}</string>
			<key>spriteSourceSize</key>
			<string>{49, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{582, 122}, {49, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 110}}</string>
			<key>spriteOffset</key>
			<string>{140, 40}</string>
			<key>spriteSize</key>
			<string>{91, 110}</string>
			<key>spriteSourceSize</key>
			<string>{91, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{189, 241}, {91, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 105}</string>
			<key>spriteSourceSize</key>
			<string>{52, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 485}, {52, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 101}</string>
			<key>spriteSourceSize</key>
			<string>{69, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{423, 221}, {69, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 102}</string>
			<key>spriteSourceSize</key>
			<string>{79, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{501, 144}, {79, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-08.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {91, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 115}</string>
			<key>spriteSourceSize</key>
			<string>{91, 115}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{189, 124}, {91, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-09.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{95, 112}</string>
			<key>spriteSourceSize</key>
			<string>{95, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 245}, {95, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 122}</string>
			<key>spriteSourceSize</key>
			<string>{130, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{154, 0}, {130, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 120}</string>
			<key>spriteSourceSize</key>
			<string>{58, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{568, 0}, {58, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 124}</string>
			<key>spriteSourceSize</key>
			<string>{92, 124}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 0}, {92, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 129}</string>
			<key>spriteSourceSize</key>
			<string>{110, 129}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 114}, {110, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 134}</string>
			<key>spriteSourceSize</key>
			<string>{47, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 353}, {47, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 136}</string>
			<key>spriteSourceSize</key>
			<string>{80, 136}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 104}, {80, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 144}</string>
			<key>spriteSourceSize</key>
			<string>{75, 144}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{112, 124}, {75, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 137}</string>
			<key>spriteSourceSize</key>
			<string>{50, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{282, 242}, {50, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 142}</string>
			<key>spriteSourceSize</key>
			<string>{57, 142}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{509, 0}, {57, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 141}</string>
			<key>spriteSourceSize</key>
			<string>{48, 141}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{168, 353}, {48, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 131}</string>
			<key>spriteSourceSize</key>
			<string>{53, 131}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{368, 221}, {53, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 124}</string>
			<key>spriteSourceSize</key>
			<string>{66, 124}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 359}, {66, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 123}</string>
			<key>spriteSourceSize</key>
			<string>{69, 123}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{97, 270}, {69, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 107}</string>
			<key>spriteSourceSize</key>
			<string>{42, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{368, 104}, {42, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 112}</string>
			<key>spriteSourceSize</key>
			<string>{152, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {152, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Layer-25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 93}</string>
			<key>spriteSourceSize</key>
			<string>{87, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{412, 126}, {87, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>page3-LillySkate</string>
		<key>textureFileName</key>
		<string>page3-LillySkate_default.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
