<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Lilly0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 21}, {301, 452}}</string>
			<key>spriteOffset</key>
			<string>{-25, -4}</string>
			<key>spriteSize</key>
			<string>{301, 452}</string>
			<key>spriteSourceSize</key>
			<string>{395, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {301, 452}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{61, 23}, {273, 448}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{273, 448}</string>
			<key>spriteSourceSize</key>
			<string>{395, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 0}, {273, 448}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 15}, {243, 456}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{243, 456}</string>
			<key>spriteSourceSize</key>
			<string>{395, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 450}, {243, 456}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{114, 10}, {199, 462}}</string>
			<key>spriteOffset</key>
			<string>{16, 2}</string>
			<key>spriteSize</key>
			<string>{199, 462}</string>
			<key>spriteSourceSize</key>
			<string>{395, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{783, 462}, {199, 462}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 8}, {233, 464}}</string>
			<key>spriteOffset</key>
			<string>{-17, 3}</string>
			<key>spriteSize</key>
			<string>{233, 464}</string>
			<key>spriteSourceSize</key>
			<string>{395, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 462}, {233, 464}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 14}, {265, 460}}</string>
			<key>spriteOffset</key>
			<string>{-31, -1}</string>
			<key>spriteSize</key>
			<string>{265, 460}</string>
			<key>spriteSourceSize</key>
			<string>{395, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 0}, {265, 460}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 11}, {205, 462}}</string>
			<key>spriteOffset</key>
			<string>{-11, 1}</string>
			<key>spriteSize</key>
			<string>{205, 462}</string>
			<key>spriteSourceSize</key>
			<string>{395, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{239, 908}, {205, 462}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{101, 7}, {199, 466}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{199, 466}</string>
			<key>spriteSourceSize</key>
			<string>{395, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 922}, {199, 466}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 6}, {237, 466}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{237, 466}</string>
			<key>spriteSourceSize</key>
			<string>{395, 486}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 454}, {237, 466}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>PageOneLilly-ipadhd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>PageOne_Lilly-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>PageOne_Lilly-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>