<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Lilly0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {156, 231}}</string>
			<key>spriteOffset</key>
			<string>{-12, -2}</string>
			<key>spriteSize</key>
			<string>{156, 231}</string>
			<key>spriteSourceSize</key>
			<string>{198, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {156, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 10}, {140, 227}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{140, 227}</string>
			<key>spriteSourceSize</key>
			<string>{198, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 233}, {140, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 6}, {126, 231}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{126, 231}</string>
			<key>spriteSourceSize</key>
			<string>{198, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 0}, {126, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 3}, {104, 235}}</string>
			<key>spriteOffset</key>
			<string>{8, 1}</string>
			<key>spriteSize</key>
			<string>{104, 235}</string>
			<key>spriteSourceSize</key>
			<string>{198, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 472}, {104, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 2}, {122, 237}}</string>
			<key>spriteOffset</key>
			<string>{-8, 1}</string>
			<key>spriteSize</key>
			<string>{122, 237}</string>
			<key>spriteSourceSize</key>
			<string>{198, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 237}, {122, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {138, 235}}</string>
			<key>spriteOffset</key>
			<string>{-15, -1}</string>
			<key>spriteSize</key>
			<string>{138, 235}</string>
			<key>spriteSourceSize</key>
			<string>{198, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 0}, {138, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 4}, {106, 235}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{106, 235}</string>
			<key>spriteSourceSize</key>
			<string>{198, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 462}, {106, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 2}, {104, 237}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{104, 237}</string>
			<key>spriteSourceSize</key>
			<string>{198, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 472}, {104, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lilly8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 1}, {122, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{122, 237}</string>
			<key>spriteSourceSize</key>
			<string>{198, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 233}, {122, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>PageOne_Lilly</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>PageOne_Lilly</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>PageOne_Lilly</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>