<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>lilly1-00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {1163, 1266}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{1163, 1266}</string>
			<key>spriteSourceSize</key>
			<string>{1165, 1266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1167, 0}, {1163, 1266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lilly1-01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1165, 1266}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1165, 1266}</string>
			<key>spriteSourceSize</key>
			<string>{1165, 1266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1165, 1266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lilly1-02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {1163, 1266}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{1163, 1266}</string>
			<key>spriteSourceSize</key>
			<string>{1165, 1266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1268}, {1163, 1266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lilly1-03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {1163, 1266}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{1163, 1266}</string>
			<key>spriteSourceSize</key>
			<string>{1165, 1266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1165, 1268}, {1163, 1266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lilly1-04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {1163, 1266}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{1163, 1266}</string>
			<key>spriteSourceSize</key>
			<string>{1165, 1266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2332, 0}, {1163, 1266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lilly1-05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {1163, 1266}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{1163, 1266}</string>
			<key>spriteSourceSize</key>
			<string>{1165, 1266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2330, 1268}, {1163, 1266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>p2-lilly-spritesheet-ipadhd</string>
		<key>textureFileName</key>
		<string>p2-lilly-spritesheet-ipadhd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>